
.post-write {
    font-family: sans-serif;
    background-color: white;
    height: 250px;
    border-radius: 15px;

    display: none;
}

.post-correction {
    font-family: sans-serif;
    background-color: white;
    border-radius: 15px;
    height: 150px;

    padding-top: 20px;

    display: none;
}