.a1 {
    display: block;
    margin: 32px 0px;
}

#comment-list{
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    pointer-events: auto;
    box-sizing: border-box;
}

#comment-list div {
    display: flex;
    width: 150vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}